@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 dark:bg-gray-800;
  @apply text-gray-800 dark:text-gray-200;

  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
